---
layout: default
title: Blog Posts
---

<!-- You can turn off the avatar in _config.yml by setting to false -->
<a href="../"><img src="{{ '/images/profile.jpg' | prepend: site.github.url | replace: 'http://', 'https://' }}" alt="aljrico-pic" class="profile-img"></a>

<div class="title-bar">

	<!-- Your title is also defined in the _config.yml file -->
	<h2 class="header-title" itemprop="jobTitle">{{ site.about_title }}</h2>

	<!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
	{% include social.html %}
</div>


<div class="post">
  <h2><i class="fa fa-home"></i> Welcome!</h2>
  		<div class="intro">
  			<p>Hi! I'm <strong>Alejandro Jiménez Rico</strong>. </p>
  			<p>I graduated as a physicist, started working in Financial Industry and eventually did find my passion in <strong>Data Science</strong>.</p>
				<p>	Within this website I'll try to post and explain some of my work and discuss its application. More generally you may find random posts about any topic that I find interesting.</p>

				<p>If you are interested, you can download and take a look at my <a href="https://github.com/aljrico/cv/raw/master/AlejandroJimenezRico_CV.pdf">CV</a>.</p>
  		</div>
</div>

<div id="post">
  <h2><i class="fa fa-bookmark"></i> Blog Posts</h2>
  <ul class="post">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>


