<nav>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/profile.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>Alejandro Jiménez Rico</h2>
  <div id="bio">
    <center><p>Data Scientist</p></center>
    <hr>
    <p>I promise I'll try to focus</p>
    <center><a href = "{{site.github.rul}}/cv"> About Me</a></center>
    <br>
    <hr>
  </div>
  <div class="menu">
  	<nav class="menu-content">
    {% for item in site.data.theme.menu %}
      <center><p><a href="{{ site.github.url }}/{{ item.path }}/{{ item.url }}">{{ item.name }}</a></p></center>
    {% endfor %}
  	</nav>
  </div>
	    <hr>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
