<div class = "drawer drawer--left">
  <button type="button" class="drawer-toggle drawer-hamburger drawer-toggle--left">
    <span class="sr-only">toggle navigation</span>
    <span class="drawer-hamburger-icon"></span>
  </button>
  <nav>
    <a href="/">
      {% if site.data.theme.social.gravatar %}
      <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
      {% else %}
      <img src="/profile.png" id="logo" alt="Blog logo"/>
      {% endif %}
    </a>
    <h2>Alejandro Jiménez Rico</h2>
    <div id="bio">
      <center><p>Data Scientist</p></center>
      <hr>
      <p>I promise I'll try to focus</p>
      <hr>
    </div>
    <div class="menu">
      {% for item in site.data.theme.menu %}
        <center><p><a href="{{ site.github.url }}/{{ item.path }}/{{ item.url }}">{{ item.name }}</a></p></center>
      {% endfor %}
    </div>
        <hr>
    <div id="social">
      {% include social.html %}
    </div>
  </nav></div>
