.title-bar {
	@include section_border;
	padding: .4rem 0;
	@include clearfix;

	.header-title {
		@include sans;
		font-weight: 300;
		font-size: 1.75rem;
		line-height: 2rem;
		letter-spacing: -.05rem;
		text-align: center;
		margin: 0 0 .5rem;

		@include media_larger_than_mobile {
			float: left;
			margin: 0;
		}
	}
}
