---
layout: default
---


<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-title-footer">
    <p class="meta">
  {{ page.date | date: "%Y %B %d" }}
</p>
  <span class="post-tag-box" style="display:inline-block;">
   {% for item in (0..page.tags.size) %}{% unless forloop.last %}
     {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
     <a href="{{ site.url }}tags/#{{ this_word | escape_cgi }}"><i class="fa fa-tags fa-rotate-90 fa-sm"></i>{{ this_word }}</a>
   {% endunless %}{% endfor %}
  </span>
  </div>
  {{ content }}
</div>

<div id="related">
  <h3>Related Posts</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <span>{{ post.date | date_to_string }} &raquo;</span> <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
